body {
    text-align: center;
    font-family: "Poppins";
}

h1, h2, h3, h4 ,h5 ,h6 {
    font-family: "Poppins";
    font-weight: 700;
    
}

p {
    font-size: small;
    font-weight: 400;
    line-height: 1.5;
}

/* Heading */

.big-heading {
    size: 4rem;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    margin: 20px 0px;
}


/* Navbar */

.navbar {
    padding: 0 15rem;
}

.nav-item {
    padding: 0 18px;
    
}

.nav-link {
    font-size: 1.2rem;
    font-family: "poppins", sans-serif;
    font-weight: 700;
}

.navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    
}

.fa-brands {
    color : #42CBFF;
  }

/* Title */

#title {
    text-align: left;
}

#title .container-fluid {
    padding: 5% 15% 0% 10%;
}

/* MainPage */

#mainpage {
    background-color:#42CBFF;
}

#mainpage .container-fluid {
    padding: 11% 15%;
}

.main-btn {
    font-family: "Poppins";
    font-weight:600;
    border-radius: 25px;
    margin: 20px 360px 10px 0px;
    padding: 1% 7%;
    font-size: medium;
    
}

.main-p {
    color: #fff;
    text-align: left;
}

.main-left {
    text-align: left;
}

#mainpage .row {
    margin-top: 1px;
}

.mainpage-img {
    margin-right: 240px;
}

/* services */

#services .row-services {
    margin-top: 55px;
}
#services .container-fluid {
    padding: 10% 15%;
}

.service-h5 {
    text-align: center;
}

.serices-img {
    width:100px;
    height:100px; 
    object-fit: fill;
}
/* Architecture */

#architecture {
    background-color: #FAF9FE;
    text-align: left;
}

#architecture .container-fluid {
    padding: 15% 15%;
}

/* Features */

#features .container-fluid {
    padding: 10% 15%;
}

.row-feature {
    margin-top: 10px;
}

.features-div {
    width: 30%;
    background-color: #FAF9FE;
    padding: 1%;
    margin: 30px 20px 20px 20px ;
    
}

/* video */

.video {
    height: 75vh;
    width: 100%;
    object-fit: fill;
}

/* Events */

#events .container-fluid {
    padding: 10% 15%;
}

/* Price */

#price {
    background-color: #FAF9FE;
}

#price .container-fluid {
        padding: 10% 15%;
}

#price .row{
    padding: 2%;
}

.price-btn {
    background-color: black;
    color: white;
    font-size: 12px;
    position: relative;
    padding: 2% 5%;
    margin: 0px 235px 0px 0px;
}

#price .row p {
    text-align: left;
}

#price .row h3, h5 {
    text-align: left;
}

.price-div-1 {
    margin: 30px 0px 20px 0px ;
    background-color: #fff;
}

.price-div-2 {
    margin: 30px 0px 20px 0px ;
    background-color: #fff;
}

.price-div-3 {
    margin: 30px 0px 20px 0px ;
    background-color: #fff;
}

/* FAQ */

#faq .container-fluid {
    padding:5% 7%;
}
#faq .faq-h3, .faq-p {
    color: #42BFFF;
    text-align: right;
}

#faq .faq-row {
    margin-top: 50px;
}
.div-2 {
    text-align: left;
}

/* Download */

#download {
    background-color: #3DABFE;
}

#download .container-fluid {
    padding: 10% 10%;
}

#download .download-h3, .download-p {
    color: #fff;
}

#download .download-btn {
    border: none;
}

/* Footer */

#footer {
    background-color: #222222;
    color:#fff;
}

#footer .container-fluid {
    padding: 5% 10%;
}