body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6em;
    text-align: center;
}

h1, h2, h3, h4 ,h5 ,h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    
}

p {
    font-size: small;
    font-weight: 400;
    line-height: 1.5;
}

/* Heading */

.big-heading {
    font-size: 75px;
    font-weight: 700;
    size: 4rem;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    /* margin: 20px 0px; */
}

/* Navbar */

.navbar {
    padding-left: 9%;
}

.navbar-nav {
    position: relative;
    left: 35%;
    overflow: hidden;
}
.navbar-collapse {
    position: relative;
    left: 15%;
}
.nav-item {
    padding: 0 18px;
    
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 700;
}

.navbar-brand {
    position: relative;
    right: 15%;
    font-weight: 800;
    font-size: 32px;
    
}
.fa-brands {
    color : #42CBFF;
} 

/* MainPage */

#mainpage {
    background-color:#42CBFF;
}

#mainpage .container-fluid {
    padding: 10% 10%;
}

.main-btn {
    position: relative;
    top: 15px;
    font-family: "Poppins";
    font-weight:600;
    border-radius: 25px;
    padding: 1% 7%;
    font-size: 18px;
    
}

.main-btn:hover {
    background-color: #42CBFF;
}

.main-p {
    color: #fff;
    text-align: left;
    font-size: 18px;
}

.main-left {
    text-align: left;
}

#mainpage .row {
    margin-top: 1px;
}

.mainpage-img {
    position: relative;
    right: 35px;
}

/* services */

#services .row-services {
    margin-top: 75px;
}
#services .container-fluid {
    padding: 10% 5%;
}

.serve-h3 {
    font-size: 40px;
}

.serve-p {
    font-size: 16px;
}

.service-h5 {
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.row-services p {
    font-size: 16px;
}

.serices-img {
    width:100px;
    height:100px; 
    object-fit: fill;
}

.serices-img:hover {
    background-color:#3DABFE;
}
/* Architecture */

#architecture {
    background-color: #FAF9FE;
    text-align: left;
}

#architecture .container-fluid {
    padding: 10% 5%;
}

#architecture h3 {
    font-size: 50px
}

#architecture p {
    font-size: 16px;
    position: relative;
    top: 16px;
}

.architec-btn {
    margin-top: 50px;
    font-family: "Poppins";
    font-weight:600;
    border-radius: 25px;
    padding: 1% 7%;
    font-size: 18px;
    
}

.img-arch {
    max-width: 100%;
    height: auto;
}


/* Features */

#features .container-fluid {
    padding: 10% 5%;
}

.row-feature {
    position: relative;
    top: 20px;
}

.features-div {
    width: 30%;
    background-color: #FAF9FE;
    padding: 1%;
    margin: 30px 20px 20px 20px ;
    
}

.features-div h5 {
    position: relative;
    top: 20px;
    font-size: 20px;
}

#features h3 {
    font-size: 40px;
}

#features p {
    font-size: 16px;
    position: relative;
    top: 16px;
}

.img-1 {
    width: 40%;
    height: 60%;
}

/* video */

.video {
    height: 75vh;
    width: 100%;
    object-fit: fill;
}

/* Events */

#events .container-fluid {
    padding: 10% 15%;
}

#events h3 {
    font-size: 40px;
}

#events p {
    font-size: 16px;
    position: relative;
    top: 16px;
}

.row-events {
    margin-top: 50px;
}

/* Price */

#price {
    background-color: #FAF9FE;
}

#price .container-fluid {
        padding: 5% 5%;
}

#price h3 {
    font-size: 40px;
}

#price p {
    font-size: 16px;
    position: relative;
    top: 16px;
}

#price .row{
    padding: 2%;
}

.price-btn {
    background-color: black;
    color: white;
    font-size: 20px;
    position: relative;
    top: 10px;
    right: 23%;
    padding: 3% 10%;
}

.price-btn:hover {
    background-color:#FAF9FE;
    color: black;
}

#price .row p {
    text-align: left;
    
}


#price .price-h5 {
    text-align: left;
    position:relative;
    right: 5%;
}

.price-div-1 {
    position:relative;
    right: 1%;
    margin: 30px 0px 20px 0px ;
    background-color: #fff;
}

.price-div-2 {
    margin: 30px 0px 20px 0px ;
    background-color: #fff;
}

.price-div-3 {
    position:relative;
    left: 1%;
    margin: 30px 0px 20px 0px ;
    background-color: #fff;
}

/* FAQ */

#faq .container-fluid {
    padding:5% 5%;
}
#faq .faq-p {
    text-align: right;
    font-size: 20px;
}

.faq-h3 {
    position: relative;
    top: 20px;
    color: #42BFFF;
    text-align: right;
    font-size: 55px;
}

#faq .faq-row {
    margin-top: 50px;
}
.faq-div-2 {
    position: relative;
    left: 2.5%;
    text-align: left;
}

#faq h3 {
    font-size: 46px;
}

#faq p {
    font-size: 16px;
    position: relative;
    top: 16px;
}

.faq-div-2 h4 {
    position: relative;
    top: 15px;
}

/* Download */

#download {
    background-color: #3DABFE;
}

#download .container-fluid {
    padding: 10% 10%;
}

#download .download-h3{
    position: relative;
    bottom: 30px;
    font-size: 50px;
    color: #fff;
}

#download .download-p {
    position: relative;
    top: 15px;
    font-size: 20px;
    color: #fff;
}


#download .buttons{
    padding: 20px 30px 0px 30px;
    margin: 20px;
    border: 1px solid transparent;
    background-color: #fff;
    color: #222;
}

#download .buttons:hover {
    background-color: #3DABFE;
}

.download-button {
    position: relative;
    top: 30px;
}

.buttons i {
    font-size: 40px;
    padding-right: 20px;
    color: #42d1ff;
}

.buttons a {
    color: #222;
    text-decoration: none;
}

.buttons p {
    margin-top: 0%;
    margin-bottom: 1rem;
    
}

.buttons p span{
    font-size: 24px; 
    font-weight: 600;
    
}

/* Footer */

.footer-area {
    padding-top: 100px;
    background-color: #222222;
}

.section-gap {
    padding: 120px;
}

.foot-div {
    text-align: left;
}
.single-footer-widget {
    color: #fff;
}

.footer-area h6{
    color: #fff;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
}

.footer-nav ol, ul {
margin: 0;
padding: 0;
list-style: none;
}

.footer-nav li {
    margin-top: 8px;
    
}

.footer-nav li a {
    color: #fff;
    text-decoration: none;
    outline: 0;
}

.form-group {
    width: 100%;
}

.single-footer-widget input {
    line-height: 38px;
    border: none;
    background-color: #fff;
    font-weight: 300;
    border-radius: 20px;
    color: #777;
    padding-left: 20px;
    width: 100%;
}

.footer-area .primary-btn {
    background-color: #3ea7ff;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
}

.footer-area .primary-btn:hover {
    background-color:#42d1ff;
}

.footer-area .primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.instafeed {
    margin: -5px;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.instafeed {
    margin-top: 5%;
}

.instafeed li {
    overflow: hidden;
    width: 25%;
}

.instafeed li img {
    margin: 5px;
    vertical-align: middle;
    border-style: none;
}

.footer-bottom {
    padding-top: 80px;
}

.footer-bottom i {
    color: #42d1ff;
}

.footer-bottom span {
    color: #42d1ff;
}

.footer-social {
    text-align: right;
}

.footer-social a {
    width: 20px;
    width: 40px;
    display: inline-table;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}

/* Media Query's */





@media (max-width: 374px) and (min-width: 320px) {
    /* Title */
    #title {
      padding: 0% 5%;
    }

    /* MainPage */

    #mainpage .container-fluid {
        padding: 5%;
    }

    .big-heading {
        font-size: 50px;
    }

    .mainpage-img {
        margin-top: 10%;
        width: 250px;
    }

    /* Architecture */

    #architecture h3 {
        font-size: 40px;
    }

    .img-arch {
        margin-top: 10%;
    }

    /* Feature */

    .row-feature {
        position: relative;
        top: 5px;
        left: 5px;
        width: 310px;
       }

    .features-div h5 {
        position: relative;
        top: 30px;
        font-size: 10px;
        
    }

    /* Events */

    .events-img {
        margin-top: 10%;
        width: 200px;
    }

    /* Price */

    .price-btn {
        font-size: 10px;
        position: relative;
        top: 3px;
        right: 0%;
        padding: 3% 10%;
    }

    /* FAQ */

    .faq-h3 {
        font-size: 20px;
    }

    #faq .faq-p {
        font-size: 10px;
    }

    .faq-div-2 h4 {
        font-size: 10px;
    }

    #faq p {
        font-size: 7px;
    }

    /* Download */

    #download .buttons {
        width: 120px;
        padding: 10px 15px 0px 15px;
        margin: 10px;;
    }

    .buttons p span {
        font-size: 10px;
        font-weight: 600;
    }

    .buttons i {
        font-size: 30px;
    }

    /* Footer */

    .single-footer-widget input {
        margin-bottom: 10px;
        width: 500%;
    }

    .footer-area .primary-btn {
        margin-bottom: 5px;
    }

    .instafeed li {
        width: 50%;
        height: 7vh;
    }
  }

@media (max-width: 424px) and (min-width: 375px) {
    /* Title */
    #title {
        padding: 0% 5%;
      }
  
      /* MainPage */
  
      #mainpage .container-fluid {
          padding: 5%;
      }
  
      .big-heading {
          font-size: 50px;
      }
  
      .mainpage-img {
          margin-top: 10%;
          width: 250px;
      }
  
      /* Architecture */
  
      #architecture h3 {
          font-size: 40px;
      }
  
      .img-arch {
          margin-top: 10%;
      }
  
      /* Feature */
  
      .row-feature {
          position: relative;
          top: 5px;
          left: 5px;
          width: 310px;
         }
  
      .features-div h5 {
          position: relative;
          top: 30px;
          font-size: 10px;
          
      }
  
      /* Events */
  
      .events-img {
          margin-top: 10%;
          width: 200px;
      }
  
      /* Price */
  
      .price-btn {
          font-size: 10px;
          position: relative;
          top: 3px;
          right: 0%;
          padding: 3% 10%;
      }
  
      /* FAQ */
  
      .faq-h3 {
          font-size: 20px;
      }
  
      #faq .faq-p {
          font-size: 10px;
      }
  
      .faq-div-2 h4 {
          font-size: 10px;
      }
  
      #faq p {
          font-size: 10px;
      }
  
      /* Download */
      
      #download .buttons {
          width: 120px;
          padding: 10px 15px 0px 15px;
          margin: 10px;;
      }
  
      .buttons p span {
          font-size: 10px;
          font-weight: 600;
      }
  
      .buttons i {
          font-size: 30px;
      }
  
      /* Footer */
  
      .single-footer-widget input {
          margin-bottom: 10px;
          width: 190%;
      }
  
      .footer-area .primary-btn {
          margin-bottom: 5px;
      }
  
      .instafeed li {
          width: 50%;
          height: 7vh;
      }
  }

@media (max-width: 767px) and (min-width: 425px) {
    /* Title */
    #title {
        padding: 0% 5%;
      }
  
      /* MainPage */
  
      #mainpage .container-fluid {
          padding: 5%;
      }
  
      .big-heading {
          font-size: 50px;
      }
  
      .mainpage-img {
          margin-top: 10%;
          width: 250px;
      }
  
      /* Architecture */
  
      #architecture h3 {
          font-size: 40px;
      }
  
      .img-arch {
          margin-top: 10%;
      }
  
      /* Feature */
  
      .row-feature {
          position: relative;
          top: 5px;
          left: 50px;
          width: 310px;
         }
  
      .features-div h5 {
          position: relative;
          top: 30px;
          font-size: 10px;
          
      }
  
      /* Events */
  
      .events-img {
          margin-top: 10%;
          width: 200px;
      }
  
      /* Price */
  
      .price-btn {
          font-size: 10px;
          position: relative;
          top: 3px;
          right: 0%;
          padding: 3% 10%;
      }
  
      /* FAQ */
  
      .faq-h3 {
          font-size: 20px;
      }
  
      #faq .faq-p {
          font-size: 10px;
      }
  
      .faq-div-2 h4 {
          font-size: 10px;
      }
  
      #faq p {
          font-size: 10px;
      }
  
      /* Download */
      
      #download .buttons {
          width: 120px;
          padding: 10px 15px 0px 15px;
          margin: 10px;;
      }
  
      .buttons p span {
          font-size: 10px;
          font-weight: 600;
      }
  
      .buttons i {
          font-size: 30px;
      }
  
      /* Footer */
  
      .single-footer-widget input {
          margin-bottom: 10px;
          width: 120%;
      }
  
      .footer-area .primary-btn {
          margin-bottom: 5px;
      }
  
      .instafeed li {
          width: 50%;
          height: 7vh;
      }

      .footer-social {
        display: flex;
        width: 50px;
        padding-top: 5px;
    }

  }

  @media (max-width: 1023px) and (min-width: 768px) {
    /* Title */
    #title {
        padding: 0% 5%;
      }
  
      /* MainPage */
  
      #mainpage .container-fluid {
          padding: 5%;
      }
  
      .big-heading {
          font-size: 50px;
      }
  
      .mainpage-img {
          margin-top: 10%;
          width: 250px;
      }
  
      /* Architecture */
  
      #architecture h3 {
          font-size: 40px;
      }
  
      .img-arch {
          margin-top: 10%;
      }
  
      /* Feature */
  
      .row-feature {
          position: relative;
          top: 5px;
          left: 150px;
          width: 500px;
         }
  
      .features-div h5 {
          position: relative;
          top: 30px;
          font-size: 10px;
          
      }
  
      /* Events */
  
      .events-img {
          margin-top: 10%;
          width: 200px;
      }
  
      /* Price */
  
      .price-btn {
          font-size: 10px;
          position: relative;
          top: 3px;
          right: 0%;
          padding: 3% 10%;
      }
  
      /* FAQ */
  
      .faq-h3 {
          font-size: 20px;
      }
  
      #faq .faq-p {
          font-size: 10px;
      }
  
      .faq-div-2 h4 {
          font-size: 10px;
      }
  
      #faq p {
          font-size: 10px;
      }
  
      /* Download */
      
      #download .buttons {
          width: 200px;
          padding: 10px 15px 0px 15px;
          margin: 10px;;
      }
  
      .buttons p span {
          font-size: 2  0px;
          font-weight: 600;
      }
  
      .buttons i {
          font-size: 30px;
      }
  
      /* Footer */
  
      .single-footer-widget input {
          margin-bottom: 10px;
          width: 35%;
      }
  
      .footer-area .primary-btn {
          margin-bottom: 5px;
      }
  
      .instafeed li {
          width: 25%;
          height: 25vh;
      }

      .footer-area h6 {
        margin-top: 20%;
    }

      .footer-social {
        display: flex;
        width: 50px;
        padding-top: 5px;
    }
  }

  @media (max-width: 1439px) and (min-width: 1024px) {
    /* Title */
    #title {
        padding: 0% 10%;
      }

      /* Navbar */

.navbar-collapse {
    position: relative;
    left: -22%;
}

.navbar-brand {
    position: relative;
    right: 18%;
    
}

  
      /* MainPage */
  
      #mainpage .container-fluid {
          padding: 5%;
      }
  
      .big-heading {
          font-size: 75px;
      }

      }
  
      /* Feature */
  
      .row-feature {
          position: relative;
          top: 5px;
          left: 15px;
          width: 100%;
          padding-left: 10%;
         }

         .features-div {
            width: 25%;
        }
  
      /* Events */
  
      .events-img {
          margin-top: 10%;
          width: 200px;
      }
  
      /* Price */
  
      .price-btn {
          position: relative;
          top: 3px;
          right: 10%;
          padding: 3% 10%;
      }
  
      /* Footer */

      .form-group {
        width: 75%;
    }
